@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');
:root {
  --active-color: #1CC1DE;

}
.color-theme a{
text-decoration: none;
font-size: large;
color:rgba(0,0,0,.8)
}
.text-color{
  color: var(--active-color);
}
.navbar-nav a.active{
  font-weight: 600;
  color: var(--active-color)!important;
}
.bg-color{
  background-color: var(--active-color) !important;
}
.bg-img{
background-repeat: no-repeat;
  background-size: cover;

}
*{
  font-family: "Reddit Mono", monospace;

}



